#file-options {
    padding: 0 1em;
}

.file-options-button {
    padding: 0 10px;
}

.file-options-content {
    display: none;
    position: absolute;
    background: #222;
    padding: 5px 10px;
}

.file-options-content * {
    display: block;
}

.file-options-button:hover + .file-options-content {
    display: block;
}

.file-options-content:hover {
    display: block;
}
